* {
  box-sizing: border-box;

}

:root {
  --padding: 10px;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:azure;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: blue;
}

.hero-banner {
  padding: var(--padding);
}

nav {
  display: flex;
  align-content: end;
}

.page-wrapper img {
border: 1px solid #ddd;
border-radius: 4px;
padding: 8px;
width: 180px;
}

p {
  margin: 0;
  font-palette: dark;
}

.flex-container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

.project-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

#about {
  height: 400px;
  color: blue;
  padding: var(--padding);
}

#work {
 /* height: 400px;*/
  color: black;
  padding: var(--padding);
}

#p1 {
  background-color: black;
  color: white;
  width: 80%;
  margin: 20px;
  justify-content: center;
}
#p2 {
  background-color: black;
  color: white;
  /*height: 40px;*/
  width: 40%;
  margin: 20px;
  justify-content: space-around;
}
#p3 {
  background-color: black;
  color: white;
  /*height: 40px;*/
  width: 40%;
  margin: 20px;
  justify-content: space-around;
}

#contact {
  height: 400px;
  color: black;
  padding: var(--padding);
}